.cache
*.egg-info
__pycache__
*.v
!test_memory_core/sram_stub.v
//*.json
genesis.log
genesis_clean.cmd
genesis_verif/
genesis_vlog.synth.vf
genesis_vlog.verif.vf
genesis_vlog.vf
genesis_work/
*~
.pytest_cache/
tests/CBcb
tests/parser.out
tests/parsetab.py
.coverage
.DS_Store
# pip directory for -e in requirements.txt
src

parser.out
parsetab.py

CBcb
CBsimple_cb
SBsb

.magma/
mux_aoi.sv
mux_aoi_const.sv

temp/
tests/*/logs/
tests/*/obj_dir/
*.swp
=======
# bitstream
*.bs

*.json
mem_cfg.txt
