-e git://github.com/leonardt/Pyverilog.git#egg=pyverilog
-e git://github.com/phanrahan/magma.git#egg=magma
-e git://github.com/phanrahan/mantle.git#egg=mantle
-e git://github.com/phanrahan/pe.git#egg=pe
-e git://github.com/leonardt/fault.git@init-peek#egg=pe
