-e git://github.com/leonardt/Pyverilog.git#egg=pyverilog
-e git://github.com/phanrahan/pe.git#egg=pe
-e git://github.com/rsetaluri/gemstone.git#egg=gemstone
-e git://github.com/rsetaluri/canal.git@features#egg=canal
ordered_set
magma-lang==0.1.*
mantle==0.1.*
cosa==0.2.8
fault==1.0.*
