-e git://github.com/StanfordAHA/gemstone.git@magma2#egg=gemstone
-e git://github.com/StanfordAHA/canal.git@magma2#egg=canal
-e git://github.com/phanrahan/peak.git@update-rtl-utils#egg=peak
-e git://github.com/StanfordAHA/lassen.git@fp-mask#egg=lassen
-e git://github.com/rdaly525/MetaMapper.git#egg=metamapper
-e git://github.com/Kuree/karst.git#egg=karst
-e git://github.com/joyliu37/BufferMapping#egg=buffer_mapping
-e git+git://github.com/pyhdi/pyverilog.git#egg=pyverilog
ordered_set
coreir>=2.0.50
magma-lang>=2.0.0
mantle>=2.0.0
cosa
fault>=3.0.1
hwtypes
archipelago
