name: tile_array

commands:
  - bash get_tile_array_outputs.sh

inputs:
  - design.v

outputs:
  - tile_array_tt.lib
  - tile_array_tt.db
  - tile_array.lef
  - tile_array.gds
  - tile_array.vcs.v
  - tile_array.sdf
  - tile_array.lvs.v
  - tile_array.sram.spi
  - tile_array.sram.v
  - tile_array.sram.pwr.v
  - tile_array.sram_tt.db

postconditions:
  - assert File( 'outputs/tile_array_tt.lib' ) # must exist
  - assert File( 'outputs/tile_array_tt.db' ) # must exist
  - assert File( 'outputs/tile_array.lef' ) # must exist
  - assert File( 'outputs/tile_array.gds' ) # must exist
  - assert File( 'outputs/tile_array.vcs.v' ) # must exist
  - assert File( 'outputs/tile_array.sdf' ) # must exist
  - assert File( 'outputs/tile_array.lvs.v' ) # must exist
  - assert File( 'outputs/tile_array.sram.spi' ) # must exist
  - assert File( 'outputs/tile_array.sram.v' ) # must exist
  - assert File( 'outputs/tile_array.sram.pwr.v' ) # must exist
  - assert File( 'outputs/tile_array.sram_tt.db' ) # must exist

