name: glb_top

commands:
  - bash get_glb_top_outputs.sh

inputs:
  - design.v
  - header

outputs:
  - glb_top_tt.lib
  - glb_top_tt.db
  - glb_top.lef
  - glb_top.gds
  - glb_top.vcs.v
  - glb_top.sdf
  - glb_top.lvs.v
  - glb_top.sram.spi
  - glb_top.sram.v
  - glb_top.sram.pwr.v
  - glb_top.sram_tt.db

postconditions:
  - assert File( 'outputs/glb_top_tt.lib' ) # must exist
  - assert File( 'outputs/glb_top_tt.db' ) # must exist
  - assert File( 'outputs/glb_top.lef' ) # must exist
  - assert File( 'outputs/glb_top.gds' ) # must exist
  - assert File( 'outputs/glb_top.vcs.v' ) # must exist
  - assert File( 'outputs/glb_top.sdf' ) # must exist
  - assert File( 'outputs/glb_top.lvs.v' ) # must exist
  - assert File( 'outputs/glb_top.sram.spi' ) # must exist
  - assert File( 'outputs/glb_top.sram.v' ) # must exist
  - assert File( 'outputs/glb_top.sram.pwr.v' ) # must exist
  - assert File( 'outputs/glb_top.sram_tt.db' ) # must exist

