name: global_controller

commands:
  - bash get_global_controller_outputs.sh

inputs:
  - design.v

outputs:
  - global_controller_tt.lib
  - global_controller_tt.db
  - global_controller.lef
  - global_controller.gds
  - global_controller.vcs.v
  - global_controller.sdf
  - global_controller.lvs.v

postconditions:
  - assert File( 'outputs/global_controller_tt.lib' ) # must exist
  - assert File( 'outputs/global_controller_tt.db' ) # must exist
  - assert File( 'outputs/global_controller.lef' ) # must exist
  - assert File( 'outputs/global_controller.gds' ) # must exist
  - assert File( 'outputs/global_controller.vcs.v' ) # must exist
  - assert File( 'outputs/global_controller.sdf' ) # must exist
  - assert File( 'outputs/global_controller.lvs.v' ) # must exist

