name: Tile_MemCore 

commands:
  - bash get_Tile_MemCore_outputs.sh

inputs:
  - design.v

outputs:
  - Tile_MemCore_tt.lib
  - Tile_MemCore_tt.db
  - Tile_MemCore.lef
  - Tile_MemCore.gds
  - Tile_MemCore.vcs.v
  - Tile_MemCore.vcs.pg.v
  - Tile_MemCore.lvs.v
  - Tile_MemCore.sdf
  - Tile_MemCore.pt.sdc
  - Tile_MemCore.spef.gz
  - sram.spi
  - sram.v
  - sram-pwr.v
  - sram_tt.db

postconditions:
  - assert File( 'outputs/Tile_MemCore_tt.lib' ) # must exist
  - assert File( 'outputs/Tile_MemCore_tt.db' ) # must exist
  - assert File( 'outputs/Tile_MemCore.lef' ) # must exist
  - assert File( 'outputs/Tile_MemCore.gds' ) # must exist
  - assert File( 'outputs/Tile_MemCore.vcs.v' ) # must exist
  - assert File( 'outputs/Tile_MemCore.vcs.pg.v' ) # must exist
  - assert File( 'outputs/Tile_MemCore.pt.sdc' ) # must exist
  - assert File( 'outputs/Tile_MemCore.spef.gz' ) # must exist
  - assert File( 'outputs/Tile_MemCore.lvs.v' ) # must exist
  - assert File( 'outputs/Tile_MemCore.sdf' ) # must exist
  - assert File( 'outputs/sram.spi' ) # must exist
  - assert File( 'outputs/sram.v' ) # must exist
  - assert File( 'outputs/sram-pwr.v' ) # must exist
  - assert File( 'outputs/sram_tt.db' ) # must exist

