name: gen_sram_macro

commands:
  - bash gen_srams.sh

outputs:
  - sram.v
  - sram_pwr.v
  - sram.lef
  - sram_tt.lib
  - sram_ff.lib
  - sram_tt.db
  - sram.gds
  - sram.spi

parameters:
  num_words: 2048
  word_size: 64
  mux_size: 8
  corner: "tt0p8v25c"
  bc_corner: "ffg0p88v125c"
  partial_write: False
