//
//

LAYOUT PATH  "MYLAYOUT"
LAYOUT PRIMARY "MYTOP"
LAYOUT SYSTEM GDSII

DRC RESULTS DATABASE "bump.drc.results" ASCII 
DRC MAXIMUM RESULTS 1000
DRC MAXIMUM VERTEX 4096

DRC CELL NAME YES CELL SPACE XFORM
DRC SUMMARY REPORT "bump.drc.summary" REPLACE HIER

VIRTUAL CONNECT COLON NO
VIRTUAL CONNECT REPORT NO

DRC ICSTATION YES

#DEFINE METAL_Z_M8
#DEFINE METAL_Z_M9

INCLUDE "/tools/projects/angie/DRC/CN16_LEADFREE_BUILD_UP_BUMP_9M_2Xa1Xd3Xe2Z.10a"

