// ===============================================
// ========== AhaIntegration Components ==========
// ===============================================
-y ${AHA_IP_DIR}/hardware/logical/AhaCM3CodeRegionIntegration/verilog
-y ${AHA_IP_DIR}/hardware/logical/AhaCM3Integration/verilog
-y ${AHA_IP_DIR}/hardware/logical/AhaDmaIntegration/verilog
-y ${AHA_IP_DIR}/hardware/logical/AhaGarnetIntegration/verilog
-y ${AHA_IP_DIR}/hardware/logical/AhaGarnetSoC/verilog
-y ${AHA_IP_DIR}/hardware/logical/AhaMemIntegration/verilog
-y ${AHA_IP_DIR}/hardware/logical/AhaPeripherals/verilog
-y ${AHA_IP_DIR}/hardware/logical/AhaPlatformController/verilog
-y ${AHA_IP_DIR}/hardware/logical/AhaSoCPartialIntegration/verilog
-y ${AHA_IP_DIR}/hardware/logical/AhaTlxIntegration/verilog
