// ===============================================
// ============= CortexM3 Processor  =============
// ===============================================
-y ${ARM_IP_DIR}/logical/cortex-m3/cm3_wic/verilog
-y ${ARM_IP_DIR}/logical/cortex-m3/cm3_itm/verilog
-y ${ARM_IP_DIR}/logical/cortex-m3/cm3_tpiu/verilog
-y ${ARM_IP_DIR}/logical/cortex-m3/cm3_fpb/verilog
-y ${ARM_IP_DIR}/logical/cortex-m3/cm3_mpu/verilog
-y ${ARM_IP_DIR}/logical/cortex-m3/cm3_dwt/verilog
-y ${ARM_IP_DIR}/logical/cortex-m3/cm3_nvic/verilog
-y ${ARM_IP_DIR}/logical/cortex-m3/cm3_dpu/verilog
-y ${ARM_IP_DIR}/logical/cortex-m3/cm3_dap_ahb_ap/verilog
-y ${ARM_IP_DIR}/logical/cortex-m3/cm3_bus_matrix/verilog
-y ${ARM_IP_DIR}/logical/cortex-m3/dapswjdp/verilog
-y ${ARM_IP_DIR}/logical/cortex-m3/cortexm3/verilog
-y ${ARM_IP_DIR}/logical/cortex-m3/models/cells
-y ${ARM_IP_DIR}/logical/cortex-m3/cortexm3_integration/verilog

+incdir+${ARM_IP_DIR}/logical/cortex-m3/cm3_tpiu/verilog
+incdir+${ARM_IP_DIR}/logical/cortex-m3/cm3_dpu/verilog
+incdir+${ARM_IP_DIR}/logical/cortex-m3/cm3_nvic/verilog
+incdir+${ARM_IP_DIR}/logical/cortex-m3/cm3_bus_matrix/verilog
+incdir+${ARM_IP_DIR}/logical/cortex-m3/cm3_dap_ahb_ap/verilog
+incdir+${ARM_IP_DIR}/logical/cortex-m3/dapswjdp/verilog
+incdir+${ARM_IP_DIR}/logical/cortex-m3/cm3_mpu/verilog
+incdir+${ARM_IP_DIR}/logical/cortex-m3/cm3_dwt/verilog
+incdir+${ARM_IP_DIR}/logical/cortex-m3/cm3_fpb/verilog
+incdir+${ARM_IP_DIR}/logical/cortex-m3/cm3_lic_defs/verilog
