// ===============================================
// ============= TBENCH Components   =============
// ===============================================
// Tbench files
-y ../tbench_files

// CXDT
-y ${ARM_IP_DIR}/logical/cxdt/verilog
+incdir+${ARM_IP_DIR}/logical/cxdt/verilog

// UART Capture
-y ${ARM_IP_DIR}/logical/uart_capture/verilog

// AXI SRAM Model
-y ${ARM_IP_DIR}/logical/arm_axi_sram_model

// PAD lib
-v ../tbench_files/tphn16ffcllgv18e.v
