name: Tile_PE

commands:
  - bash get_Tile_PE_outputs.sh

inputs:
  - design.v

outputs:
  - Tile_PE_tt.lib
  - Tile_PE_tt.db
  - Tile_PE.lef
  - Tile_PE.gds
  - Tile_PE.vcs.v
  - Tile_PE.vcs.pg.v
  - Tile_PE.pt.sdc
  - Tile_PE.spef.gz
  - Tile_PE.lvs.v
  - Tile_PE.sdf

postconditions:
  - assert File( 'outputs/Tile_PE_tt.lib' ) # must exist
  - assert File( 'outputs/Tile_PE_tt.db' ) # must exist
  - assert File( 'outputs/Tile_PE.lef' ) # must exist
  - assert File( 'outputs/Tile_PE.gds' ) # must exist
  - assert File( 'outputs/Tile_PE.vcs.v' ) # must exist
  - assert File( 'outputs/Tile_PE.vcs.pg.v' ) # must exist
  - assert File( 'outputs/Tile_PE.pt.sdc' ) # must exist
  - assert File( 'outputs/Tile_PE.spef.gz' ) # must exist
  - assert File( 'outputs/Tile_PE.lvs.v' ) # must exist
  - assert File( 'outputs/Tile_PE.sdf' ) # must exist

