name: glb_tile 

commands:
  - bash get_glb_outputs.sh

inputs:
  - design.v
  - header

outputs:
  - glb_tile_tt.lib
  - glb_tile_tt.db
  - glb_tile.lef
  - glb_tile.gds
  - glb_tile.lvs.v
  - glb_tile.vcs.v
  - glb_tile.vcs.pg.v
  - glb_tile.sdf
  - glb_tile_sram.spi
  - glb_tile_sram.v
  - glb_tile_sram_pwr.v
  - glb_tile_sram_tt.lib
  - glb_tile_sram_ff.lib
  - glb_tile_sram_tt.db
  - glb_tile.spef.gz

postconditions:
  - assert File( 'outputs/glb_tile_tt.lib' ) # must exist
  - assert File( 'outputs/glb_tile_tt.db' ) # must exist
  - assert File( 'outputs/glb_tile.lef' ) # must exist
  - assert File( 'outputs/glb_tile.gds' ) # must exist
  - assert File( 'outputs/glb_tile.lvs.v' ) # must exist
  - assert File( 'outputs/glb_tile.vcs.v' ) # must exist
  - assert File( 'outputs/glb_tile.vcs.pg.v' ) # must exist
  - assert File( 'outputs/glb_tile.sdf' ) # must exist
  - assert File( 'outputs/glb_tile_sram.spi' ) # must exist
  - assert File( 'outputs/glb_tile_sram.v' ) # must exist
  - assert File( 'outputs/glb_tile_sram_pwr.v' ) # must exist
  - assert File( 'outputs/glb_tile_sram_tt.lib' ) # must exist
  - assert File( 'outputs/glb_tile_sram_ff.lib' ) # must exist
  - assert File( 'outputs/glb_tile_sram_tt.db' ) # must exist
  - assert File( 'outputs/glb_tile.spef.gz' ) # must exist
