name: gen_sram_macro

commands:
  - bash gen_srams.sh

inputs:
  - adk

outputs:
  - sram.v
  - sram-pwr.v
  - sram.lef
  - sram_tt.lib
  - sram_ff.lib
  - sram_tt.db  # Need this back for power on ptpx
  - sram.gds
  - sram.spi

parameters:
  num_words: 2048
  word_size: 64
  mux_size: 8
  corner: "tt0p8v25c"
  bc_corner: "ffg0p88v125c"
  partial_write: False

postconditions:
   # Sanity check to see if we at least got one sram
   - assert File( 'outputs/sram_tt.lib' )
